

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.items-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 2rem;
}


.todo-item {
  display: flex;
  width: 15rem;
  justify-content: space-between;
  align-items: center;
  font-size: 1.5rem;
}

.item-completed {
  color: gray;
  text-decoration: line-through;
  text-decoration-color: greenyellow;
  text-decoration-thickness: 0.2rem;
}

.item-waiting {
  color: black;
}
